<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
  
    {{#tweets}}
      <div class="tweet-box">
        {{ text }}
        <br />
        {{created_at}}
        <br />
        {{ user.screen_name }}
      </div>
    {{/tweets}}
    
  </body>
</html>
