<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
  
    {{#tweets}}
      <div style="background: :#f9f9f9;padding:16px;margin-bottom:16px;border:1px solid #ddd">{{ text }}<br />{{created_at}}</div>
    {{/tweets}}
    
  </body>
</html>
