<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
  
    {{#data.businesses}}
      <span>{{ name }} --- <strong>{{ location.display_address }}</strong></span><br />
    {{/data.businesses}}
    
  </body>
</html>
