<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h2 id="title">{{ title }}</h2>
    
      {{#data.businesses}}
      <div class="venue-box">
        <img src="{{image_url}}" />
        <h2>{{ name }}</h2>
        <a target="_blank" href="{{url}}">Yelp</a>
        <p>{{ location.display_address }}</p>
        <p>{{ display_phone }}</p>

        <ul>
        {{#categories}}
          <li>{{title}}</li>
        {{/categories}}
        </ol>

        <form>
          <h3>Contact Us</h3>
          <input type="text" placeholder="Message" />
          <input type="submit" value="Send" />
        </form>
      </div>
      {{/data.businesses}}
    </div>
  </body>
</html>
