#title {
  font-size: 64px;
}

.icon {
  border-radius: 45px;
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 16px;
}

.venue-box {
  background: #f9f9f9;
  margin-top: 16px;
  padding: 16px;
  color: #333;
  border:1px solid #ddd;
}

.venue-box h2 {
  margin: 0px;
  font-family: Arial;
}

.venue-box a {
  color: red;
  text-decoration: none;
}

.venue-box p {
  margin-bottom: 0px;
}

.venue-box p + p {
  margin-top: 0px
}

.venue-box ul {
  padding-left: 17px;
}

.tweet-box {
  background: :#f9f9f9;
  padding: 16px;
  margin-bottom: 16px;
  border:1px solid #ddd;
}